@model EntityLayer.Concrete.Category

@{
    Layout = null;
}


<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<div class="container">
    <br />
    <form method="post">
        <input asp-for="Id" type="hidden"/>
        <label>Kategori Adı</label>
        <input type="text" asp-for="Name" class="form-control" />
        <br />
        <button class="btn btn-dark">Güncelle</button>
    </form>
</div>
